@import 'https://fonts.googleapis.com/css?family=Inconsolata';

body {
  background-color: #000;
  color: #fff;
  font-family: 'Inconsolata', monospace;
  margin: 30px;
}

a {
  color: #00f;
  text-decoration: none;
}
a:hover, a:focus {
  color: #0ff;
}
